<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.longshihan.module_gank">

    <application
        android:name="com.longshihan.mvpcomponent.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/yw_1222"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.longshihan.module_gank.config.GlobalConfiguration"
            android:value="ConfigModule" />

        <activity android:name=".mvp.MainModule.ui.activity.GankMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.MeiZiModule.MeiZhiActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>